h1{
    color: red;
    font-size: 50px;
    text-align: center;
    margin-top: 1px;
}

.urunlistebaslik{
color: yellowgreen;
font-size: 20px;
text-align: center;
margin-top: 3px;

}
.urunortala{
    color: black;
    font-size: 20px;
    text-align: center;
    list-style-position: inside;
}
.a{
    word-spacing: 10px;
    text-align: center;
    
 
}
.div{
    height: 300;
    width: 300;
}